.bkgrnd {
  background-image: url(bkgnd.jpg);
  padding-bottom: 800px;
}
.h1 {
  color: ;
  text-align: center;
  font-size: 60px;
}
 container {
  background-color: black;
}
.jumbo {
  background-color: rgba(200,0,0,0.5);
  border-radius: 8em;
}
.cont {
  background-color: rgba(0,200,0,0.5);
}
.form {
  text-align: left;
  font-size: 20px;
}
#total{
  font-size: 40px;
  font-style: italic;
}
.retry {
  font-size: 30px;
}
# submit {
  text-align: center;
}
